<h1>Sección privada</h1>
<p>El siguiente usuario se encuentra autenticado con un certificado digital, DN: <strong><%= @sujeto_del_cert %></strong>, número de serie: <strong><%= @serie_del_cert %></strong>.</p>
<%= link_to "Cerrar sesión", "https://sslmutuo.example.org/publico/cerrar_sesion" %>
